# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\vjmar\Dropbox\University\Newcastle\Newcastle Uni\Semester 1\7. CSC8014 - Software Development Advanced Techniques\ToSubmit\SubmitBikeRentalService\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
